.header_main{
  height: 100vh;
  background-image: url('../img/stars.jpg'); 
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
   .header_main__button_invite{
    font-size: 1.4em;    
    word-spacing: .8vw;
   }

}




