.main{
   min-height: 100vh; 
   width: 100vw;  
   .main__nav{        
       height: 10vh;
       width: 100%;  
       display: flex;
       justify-content: flex-start;
       align-items: center;
        .main__nav__part{
            color: $color-btn;
            margin-left: 3vw;
            font-size: .7em;
            padding-bottom: .5vw;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            font-style: italic;
            text-decoration: none;
            &::after{
                content: '';
                position: absolute;
                top: 90%;
                left:0;
                width: 100%;
                height: 100%;
                background-color: $color-btn;
                transition: .6s transform;
                transform: translateX(100%);
            }
            &.active::after{
                transform:  translateX(0);
            }       
        }
    }
    
    .main__section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 90vh;
        width: 100%;  
        .main__section__ok {
            width: 10vw;
            height: 10vw;
        }     
        .formFill{
            background-color: $color-form;
            min-width: 40vw;
            min-height: 60vh;
            border-radius: 10px;
            box-shadow: .5vw .5vw 3vw  $color-btn;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2vw;
            margin-bottom: 1.5vw;
            .formFill__result{
                align-self: flex-start;
                display: flex;
                flex-direction: column;                
                margin-top: 3vw;
                width: 100%;
                .result__desc{
                    border-bottom: 2px solid $color-btn;
                    padding: 1vw 2vw;
                    margin-bottom: 4vw;
                    width: 50%;
                }
                .result__tourists{
                    color: $color-btn;
                    padding: 1vw;
                    border-bottom: .1px solid $color-btn;
                    align-self: flex-end;
                    width: 100%;
                    padding-right: 20%;
                    display: flex;
                    justify-content: flex-end;
                    padding-right: 3vw;
                    .result__tourists__btn{
                        margin-left: 10%;
                    }

                }
            }
            .formFill__btn{
                margin:10% 0;
                font-size: .5em;
                &:hover::after{
                    color: #2d2d2d;
                }
            }
            .formFill__title{
                color:$color-btn;
                font-size: 1.2em;
                margin-bottom: 10%; 
                             
            }
            .formFill__err{
                color: red;
                font-weight: bold;
                width: 100%;
                height: 2vw;
            }
            .formFill__option{
                
                margin: 7% 0;                
                font-size: .6em;
                align-self: flex-start;
                display: flex;
                justify-content: flex-end; 
                align-items: center;               
                &.option_line{
                    width: 100%;
                    margin-right:0;
                    padding-right: 10vw;
                }
                .option__txt{
                    margin-left: 1vw;
                    box-shadow: .5vw .5vw 1.5vw  $color-btn;
                    border: none;                    
                    border-radius:2px;
                    width: 15vw;
                    height: 2vw;
                    font-weight: 700;
                    padding: 0.2vw;
                    &.option__txt--area{
                        height: 8vw;
                        resize: none;
                    }
                }
                .option_input{
                    position: relative;                 
                    margin-right: 1vw;
                    &:after{
                        content: '';
                        position: absolute;
                        display: block;
                        top: 0;
                        left:0;
                        width: 100%;
                        height: 100%;
                        transition: .3s background-color;
                        background-color: $color-bg;
                        border: 2px solid $color-btn;
                    }
                    &:checked::after{
                        background-color: $color-btn;
                         
                    }
                }
            }
        }
        .main__section__title{
            color: $color-btn;
            font-size: 2em;
            padding-bottom: 4vw;
        }
        .main__section__desc{
            color:#2d2d2d;
            text-align: center;
            width: 90%;            
            padding-bottom: 4vw;
        }
        .main__section__btn{
            font-size: .8em;
        }
    }
}