//colors in project 
$color-bg:#cacace;
$color-dark:#2b2929;
$color-bordered:#a0f39d;
$color-btn:#267eb8;

//sizes in project
$width-burger:6vw;
$height-burger:1vw;
$space-bar:2vw;
$brd-radius:10px;


//mixins

