//colors in project 
$color-bg:#f3f3f3;
$color-dark:#2b2929;


//sizes in project
$width-burger:4vw;
$height-burger:3vw;
$pseudo-el-height:.6vw;
$center-burger:($height-burger / 2) - $pseudo-el-height;
$shadow: 0 .2vw 0 0 rgba(0,0,0,0.3)