//colors in project 
$color-bg:#f0e6e6;
$color-bordered:#a0f39d;
$color-btn:#57b6f5;
$color-form:#f0f0f0;

//sizes in project
$width-burger:6vw;
$height-burger:.6vw;
$space-bar:2vw;
$brd-radius:10px;


//mixins

